.editInputText > input[type="text"] {
    width: 100%;
  }
  input:disabled {
    background-color: #cccccc;
    color: #666666;
  }
  .crudDiv {
    float: right;
    margin-top: 0.3em;
    margin-left: 1%;
    padding-right: 1em;
    padding-top: 0.3em;
    width: 38%;
    height: 3em;
    border-radius: 0.3em;
    box-shadow: 0.02em 0 0.02em 0 rgba(26, 9, 9, 0.719);
  }
  .crudDiv button {
    float: right;
    text-transform: capitalize;
    position: relative;
    padding: 0.4rem 0.8rem 0.8rem;
    margin: 0 0.3rem 0 0.6rem;
    border-radius: 0.3rem;
    border: none;
    color: #333;
    box-shadow: 1px 3px 3px 0 #e2e2e2;
    height: 2em;
  }
  
  .crudDiv button:hover {
    opacity: 0.7;
  }
  
  .crudDiv button:disabled,
  button[disabled] {
    background-color: #cccccc;
    color: #666666;
    box-shadow: 0.02em 0 0.02em 0 rgba(26, 9, 9, 0.719);
  }
  
  .crudDiv button:focus {
    outline: none;
  }
  .crudDiv :nth-child(1) {
    background-color: teal;
    color: whitesmoke;
  }
  
  .crudDiv :nth-child(2) {
    background-color: steelblue;
    color: whitesmoke;
  }
  .crudDiv :nth-child(3) {
    background-color: navy;
    color: whitesmoke;
  }
  .crudDiv :nth-child(4) {
    background-color: red;
    color: whitesmoke;
  }
  .selected {
    background-color: orange;
  }
  