/* 
  move
  the
  search
  input
  left
  or
  right
  by
  chaging
  float
  left/right */
  .searchInputCss > div {
    float: right;
  }
  .searchInputCss input {
    border-radius: 0.3rem;
    outline: none !important;
    border: solid 1px rgb(36, 36, 39);
    padding: 0.3rem;
    float: right;
  }
  
  .searchInputCss input:focus {
    outline: none !important;
    border: solid 1px rgb(18, 87, 216);
  }
  