.docmenu{
    padding-left: 0.8em!important;
}

/* move the pager left or right by chaging float left/right */
.pager {
   float: left;
   margin: 0 auto;
   font-family: bold, monospace;
}
.pager > * {
    color: #eee;
    float: left;
    margin: 0 auto;
  
}
.pager{
    line-height: 1.8rem;
    margin-top: 0.5rem;
    padding: 0.4rem;
    background-color: rgba(59, 130, 246);
min-height:3rem;
}

.pager .numberOfPages{
    display: inline-block;
    min-width:15rem;
    background-color: rgb(34, 115, 247);
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 0.3rem;
}
.pager input {
    border: 1px solid #666;
    margin: 0 0.4rem 0 0.4rem;
    color: #666;
    border-radius: 0.3rem;
}
/* current page no */
.pager input[type='number']{
    position: relative;
    top:0.1rem;
    max-width: 3.2rem;
    padding-left: 0.4rem;
} 
.pager button {
    top:-0.1em;
    font-size: 2rem;
    padding:0rem 0.8rem 0.2rem 0.8rem;
    margin: 0 0.3rem 0 0.6rem;
    border-radius: 0.3rem;
    box-shadow:0.02em 0 0.02em 0 rgba(26, 9, 9, 0.719) ;
}
.pager button:hover{
    background-color: rgb(42, 61, 122);
}
.pager button:focus {
    outline: none;

}
/* targets number of pages without classname numberOfPages */
.pager :nth-child(6){
    position: relative;
    top:0.1rem;
    font-size: 1.4rem;
    padding:  0 1rem 0 1rem;
    color: #ddd;
}
/* targets the last item show page count */
.pager :nth-child(7){
    color: #333;
}
.pager :nth-child(7) span {
    top:0.2rem;
    color: #333;
}
.pager :nth-child(7) input {
  max-width:4rem;
}

/*  move the search input left or right by chaging float left/right */
.searchInputCss span {
    float: right;
    margin-bottom: 0.3rem;
}
.searchInputCss  input {
    border-radius: 0.3rem;
    outline: none !important;
    border: solid 1px rgb(36, 36, 39);
    padding: 0.3rem;
}
.searchInputCss  input:focus {
    outline: none !important;
    border: solid 1px rgb(18, 87, 216)
}

.pager button:disabled,
button[disabled]{
  background-color: #cccccc;
  color: #666666;
  box-shadow:0.02em 0 0.02em 0 rgba(26, 9, 9, 0.719) ;
}