@font-face {
  font-family: 'Oxygen-Regular';
  src: url('./fonts/Oxygen-Regular.ttf') format('truetype');
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
  background-color: rgb(131, 131, 131)

}

html,body,#root,.App{
  width:100%;height: 100%;
}
body {
  position: absolute;
  margin: 0;
  font-family: 'Oxygen-Regular', 'Segoe UI';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, #root {
  background-color: var(--dark-background);
  color: var(--dark-text);
}

nav {
  background-color: var(--dark-background);
  color: var(--light-text);
}

#root {
  background-color: var(--light-background);
}

.selectedRow{
  background-color: lightseagreen;
}

.mytable>thead>tr>th{
  cursor: pointer;
}


/* styling the pager would again require passing lots of classes and 
custom options, that can make config difficult
for the sake of simplicity the pager is buit using standard css  */
/* move the pager left or right by chaging float left/right */
.pager {
  float: left;
  margin: 0 auto;
  box-shadow: 1px 3px 3px 0 #e2e2e2;
}
.pager > * {
  float: left;
  margin: 0 auto;
}
.pager {
  line-height: 1.8rem;
  padding: 0.4rem;
  min-height: 2.4em;
  border-radius: 0.3em;
  /* width: 100%; */
  color: #333;
  box-shadow: 1px 3px 3px 0 #dfd3d3;
}

.pager input {
  border: 1px solid #666;
  margin: 0 0.4rem 0 0.4rem;
  color: #666;
  border-radius: 0.3rem;
}
/* current page no */
.pager input[type="number"] {
  position: relative;
  max-width: 3em;
  height: 2em;
  padding-left: 0.4rem;
  box-shadow: 1px 3px 3px 0 #e2e2e2;
}
.pager button {
  position: relative;
  font-size: 1.5em;
  padding: 0rem 0.8rem 0.2rem 0.8rem;
  margin: 0 0.3rem 0 0.6rem;
  border-radius: 0.3rem;
  border: none;
  color: #333;
  box-shadow: 1px 3px 3px 0 #e2e2e2;
}
.pager button:hover::after {
  position: absolute;
  opacity: 0.5;
  border-radius: 0.3em;
  font-size: 0.8em;
  padding-left: 0.5em;
  padding: em 0.4em 0.3em 0em;
  padding-right: 0.5em;
  background-color: rgb(44, 44, 44);
  top: 1e;
  top: 1.4em;
  line-height: 1.4em;
  color: #eee;
  content: attr(data-content);
  z-index: 100;
}

.pager button:hover {
  background-color: #e6ffff;
}
.tablecss .pager button:focus {
  outline: none;
}

/* targets number of pages without classname numberOfPages */

.pager :nth-child(4) {
  margin-right: 1em;
}
.pager :nth-child(5) input {
  margin-left: 1em;
  margin-right: 1em;
}
/* targets the last item show page count */
.pager :nth-child(6) {
  top: 0.2rem;
  padding: 0.1em;
  box-shadow: 1px 3px 3px 0 #e2e2e2;
}
/* show select element 10 / 20 / 100 etc */
.pager :nth-child(7) select {
  min-height: 2.2em;
  position: relative;
  /* top: 0.15rem; */
  margin-right: 0.7rem;
  margin-left: 1em;
  border-radius: 0.3rem;
  padding-left: 0.3rem;
}
/*  move the search input left or right by chaging float left/right */
.searchInputCss div {
  float: right;
  margin-bottom: 0.3rem;
}
.searchInputCss input {
  border-radius: 0.3rem;
  outline: none !important;
  border: solid 1px rgb(36, 36, 39);
  padding: 0.3rem;
}
.searchInputCss input:focus {
  outline: none !important;
  border: solid 1px #d3d3d3;
}

.pager button:disabled,
button[disabled] {
  background-color: #cccccc;
  color: #666666;
  box-shadow: 0.02em 0 0.02em 0 rgba(26, 9, 9, 0.719);
}



.editInputText>input[type="text"] {
  width:100%;
}
.crudDiv {
  float: right;
  width:40%;
  height: 3em;
  border-radius: 0.3em;
  box-shadow: 0.02em 0 0.02em 0 rgba(26, 9, 9, 0.719);

}
.crudDiv button {
  text-transform:capitalize;
  position: relative;
  padding: 0rem 0.8rem 0.2rem 0.8rem;
  margin: 0 0.3rem 0 0.6rem;
  border-radius: 0.3rem;
  border: none;
  color: #333;
  box-shadow: 1px 3px 3px 0 #e2e2e2;
}


.crudDiv button:hover {
 opacity: 0.7;
}


.crudDiv button:disabled,
button[disabled] { 
  background-color: #cccccc;
  color: #666666;
  box-shadow: 0.02em 0 0.02em 0 rgba(26, 9, 9, 0.719);
}

.crudDiv button:focus {
  outline: none;
}
.crudDiv :nth-child(1) {
  background-color: teal;
  color:whitesmoke;
}

.crudDiv :nth-child(2) {
  background-color: steelblue;
  color:whitesmoke;
}
.crudDiv :nth-child(3) {
  background-color: navy;
  color:whitesmoke;
}
.crudDiv :nth-child(4) {
  background-color: red;
  color:whitesmoke;
}
.selected{
  background-color: cornsilk;
}
input:disabled {
  background-color: #cccccc;
    color: #666666;
  }
  
.msgDiv{
  top:3em;
  left:0;
  width:100%;
  height:3em;
display: none;
}
.msgDiv button {
  position: relative;
  padding: 0rem 0.8rem 0.2rem 0.8rem;
  margin: 0 0.3rem 0 0.6rem;
  border-radius: 0.3rem;
  border: none;
  color: #333;
  box-shadow: 1px 3px 3px 0 #e2e2e2;
}

.msgDiv button:nth-child(1) {
  background-color: green;
  color:whitesmoke;
}
.msgDiv button:nth-child(2) {
  background-color: red;
  color:whitesmoke;
}
.warning{
  width:100%;
  height: 100%;
  z-index: 1000;
  text-align: center;
  position: absolute;
  left:0;
  top:0;
  border-radius: 0.3em;
}
.msgDiv {
  display: none;
  background-color:rgba(66, 66, 66, 0.9);
  top:15%;
  text-align: center;
  margin-left:4%;
  height: 60%;
  width:92%;
  border-radius: 0.3em;
}
.msgDivShow{
  display: block;
}
.msgDiv span{
  display: block;
  font-size: 1.4em;
  margin-top: 3em;
  margin-left: 30%;
  width: 40%;
  background-color: rgba(75, 75, 75, 0.7);
  color:#eee; 
  padding: 1em;
  position: relative;
  top:5em; 
  border: 2px solid #333;
}
.msgDiv .msgBtnDiv {
  background-color: rgba(0,0,0,0.4);
  margin: 1em;
  width: 40%;
  margin-top: 7em;
  height: 10%;
  margin-left: 30%;
  border: 2px solid #333;
}
.msgDiv .msgBtnDiv  button{
  margin-top:1em;
}
