.topmenu {
    width: 100%;
    padding: 1em;
}
.topmenu .item a {
font-size:x-large;
float: left;
margin-right: 0.6em;
margin-left: 1em;
}
.topmenu .item i {
font-size: 1.3em;
}
.item .active {
    text-decoration-skip: none;
    text-decoration-line: underline;
}
:root {
    /** sunny side **/
    --blue-background: #c2e9f6;
    --blue-border: #72cce3;
    --blue-color: #96dcee;
    --yellow-background: #fffaa8;
    --yellow-border: #f5eb71;
    /** dark side **/
    --indigo-background: #808fc7;
    --indigo-border: #5d6baa;
    --indigo-color: #6b7abb;
    --gray-border: #e8e8ea;
    --gray-dots: #e8e8ea;
}
