/* styling the pager would again require passing lots of classes and 
custom options, that can make config difficult
for the sake of simplicity the pager is buit using standard css  */
/* move the pager left or right by chaging float left/right */
.pager {
    float: left;
    margin: 0 auto;
    box-shadow: 1px 3px 3px 0 #e2e2e2;
  }
  .pager > * {
    float: left;
    margin: 0 auto;
  }
  .pager {
    line-height: 1.8rem;
    padding: 0.4rem;
    min-height: 2.4em;
    border-radius: 0.3em;
    /* width: 100%; */
    color: #333;
    box-shadow: 1px 3px 3px 0 #dfd3d3;
  }
  
  .pager input {
    border: 1px solid #666;
    margin: 0 0.4rem 0 0.4rem;
    color: #666;
    border-radius: 0.3rem;
  }
  /* current page no */
  .pager input[type="number"] {
    position: relative;
    max-width: 3em;
    height: 2em;
    padding-left: 0.4rem;
    box-shadow: 1px 3px 3px 0 #e2e2e2;
  }
  .pager button {
    position: relative;
    font-size: 1.5em;
    padding: 0rem 0.8rem 0.2rem 0.8rem;
    margin: 0 0.3rem 0 0.6rem;
    border-radius: 0.3rem;
    border: none;
    color: #333;
    box-shadow: 1px 3px 3px 0 #e2e2e2;
  }
  .pager button:hover::after {
    position: absolute;
    opacity: 0.5;
    border-radius: 0.3em;
    font-size: 0.8em;
    padding-left: 0.5em;
    padding: 0 0.4em 0.3em 0;
    padding-right: 0.5em;
    background-color: rgb(44, 44, 44);
    top: 1.4em;
    line-height: 1.4em;
    color: #eee;
    content: attr(data-content);
    z-index: 100;
  }
  
  .pager button:hover {
    background-color: #e6ffff;
  }
  .tablecss .pager button:focus {
    outline: none;
  }
  
  /* targets number of pages without classname numberOfPages */
  
  .pager :nth-child(4) {
    margin-right: 1em;
  }
  .pager :nth-child(5) input {
    margin-left: 1em;
    margin-right: 1em;
  }
  /* targets the last item show page count */
  .pager :nth-child(6) {
    top: 0.2rem;
    padding: 0.1em;
    box-shadow: 1px 3px 3px 0 #e2e2e2;
  }
  /* show select element 10 / 20 / 100 etc */
  .pager :nth-child(7) select {
    min-height: 2.2em;
    position: relative;
    /* top: 0.15rem; */
    margin-right: 0.7rem;
    margin-left: 1em;
    border-radius: 0.3rem;
    padding-left: 0.3rem;
  }
  /*  move the search input left or right by chaging float left/right */
  .searchInputCss span {
    float: right;
    margin-bottom: 0.3rem;
  }
  .searchInputCss input {
    border-radius: 0.3rem;
    outline: none !important;
    border: solid 1px rgb(36, 36, 39);
    padding: 0.3rem;
  }
  .searchInputCss input:focus {
    outline: none !important;
    border: solid 1px #d3d3d3;
  }
  
  .pager button:disabled,
  button[disabled] {
    background-color: #cccccc;
    color: #666666;
    box-shadow: 0.02em 0 0.02em 0 rgba(26, 9, 9, 0.719);
  }
  